.contenedor-registro{	
	width:60vh;
	height:auto;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	border-radius: 2vh;
	position:relative;
	top: 5vh;
}

.container-registro{
	width: auto;
	height: auto;
	padding:5%; 
	text-align: center;
}

.p-registro{
	font-size: 200%;
	font-weight:bold;
	color: rgb(44, 43, 43);
}

.submit-registro{
	width: 80%;
	height: 8%;
	margin: 5%;
	border: none;
	border-bottom: 2px solid silver;
	font-size: large;
}

#texto{
    display: block;
    font-size: large;

}

.boton-registro{
	width: 60%;
	height: 4vh;
	margin: 30px;
	background-color: rgb(52, 77, 236);
	cursor: pointer;
	border: 0;
	color: #fff;
	font-size: large;
	border-radius: 15px;
}
.boton-registro:hover{
	background-color:rgb(0, 25, 186);
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-registro{
		width: 95%;
	}
}