.body{
    display: flex;
    margin: 0;
    text-align: center;
}

.informacion{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin:0px auto;
}

.container-user{
    padding: 2%;
}

.informacion #titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0)
}

.informacion img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-top: 50px;
}

figure{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10vh;
}

button {
    display:none; 
    transition: all .5s;
    position: relative;
    width: 150px;
    height: 151px;
    top: -103%;
    background-color: rgba(37, 37, 37, 0.384);
    font-size:larger;
    border-radius: 50%;
    border: none;
  }
  /*Boton Visible*/
figure:hover > button {
    display:block;
    transition: all .5s;
}

.menu-user{
    width: auto;
    height: auto;
	display: flex;
    justify-content: center;
}

.caja-menu-user{
    background-color: rgb(58, 58, 58);
    width: 14%;
    height: 8vh;
    display: flex;
    margin: 1px;
    border-radius: 1vh;
    cursor: pointer;
}

.a-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2vh;
}

@media only screen and (min-width:768px) and (max-width:1600px){
    .caja-menu-user{
        width: 25%;
        height: 8vh;
    }
    .body{
        width: 100%;
        height: auto;
    }
    .informacion{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width:120px) and (max-width:768px){
    .caja-menu-user{
        width: 33%;
        height: 8vh;
    }
    .body{
        width: auto;
        height: auto;
    }
    .informacion{
        width: 100%;
        height: auto;
    }
}

/* parte de informacion del usuario */
.informacion-personal{
    text-align: center;	
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 100vh;
    height: 30vh;
}

.container-user{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.p-user{
    padding: 4%;
	font-size: 30px;
	font-weight:bold;
	color: rgb(44, 43, 43);
}

i{
    font-size: 2.5vh;
}

/* crear proyecto */
#contenedor_crear_proyecto{
    padding: 4%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: none;
}

#contenedor_mis_proyecto{
    padding: 4%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: none;
    width: auto;
}

#contenedor_otros_proyecto{
    padding: 4%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: none;
}

.contenedor-registro{	
	width:60vh;
	height:auto;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	border-radius: 2vh;
	position:relative;
}

.container-registro{
	width: auto;
	height: auto;
	padding:5%; 
	text-align: center;
}

.p-registro{
	font-size: 200%;
	font-weight:bold;
	color: rgb(44, 43, 43);
}

.submit-registro{
	width: 80%;
	height: 8%;
	margin: 5%;
	border: none;
	border-bottom: 2px solid silver;
	font-size: large;
}

#texto{
    display: block;
    font-size: large;
    margin-bottom: 1vh;
}

#number{
    width: 10%;
    height: 10%;
    font-size: large;
}

#checkbox1{
    display: none;
}
#checkbox2{
    display: none;
}

.boton-registro{
    display: block;
	width: 20vh;
	height: 5vh;
	margin: 0 auto;
	background-color: rgb(52, 77, 236);
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: large;
	border-radius: 15px;
}
.boton-registro:hover{
	background-color:rgb(0, 25, 186);
}

/* apartado mis proyectos*/
.boton-eliminar{
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    color: #fff;
    background-color: #e53f3f;
    font-size: medium;
    font-weight: bold;
    top: 0;
    margin-right: 2%;
    display: block;
    cursor: pointer;
}
.boton-eliminar:hover{
	background-color:#982d2d;
}
.boton-modificar{
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    color: #fff;
    background-color: #743fe5;
    font-size: medium;
    font-weight: bold;
    top: 0;
    margin-right: 2%;
    display: block;
    cursor: pointer;
}
.boton-modificar:hover{
	background-color:#502c9f;
}
.boton-chat{
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    color: #fff;
    background-color: #3fe550;
    font-size: medium;
    font-weight: bold;
    top: 0;
    margin-right: 2%;
    display: block;
    cursor: pointer;
}
.boton-chat:hover{
	background-color:#2d9f38;
}
.boton-salir-proyecto{
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    color: #fff;
    background-color: #e53f3f;
    font-size: medium;
    font-weight: bold;
    top: 0;
    margin-right: 2%;
    display: block;
    cursor: pointer;
}
.boton-salir-proyecto:hover{
	background-color:#982d2d;
}
.boton-user-admin{
    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    background-color: #3c58e8;
    font-size: medium;
    font-weight: bold;
    color: #fff;
    top: 0;
    margin-right: 2%;
    display: block;
    cursor: pointer;
}
.boton-user-admin:hover{
	background-color:#243485;
}
.a-user{
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor-registro{
		width: 100%;
	}
    .boton-eliminar{
        width: 8vh;
    }
    .boton-modificar{
        width: 8vh;
    }
    .boton-user-admin{
        width: 8vh;
    }
    .boton-chat{
        width: 8vh;
    }
    .boton-salir-proyecto{
        width: 8vh;
    }
    #number{
        width: 15%;
    }
}