.body{
    display: flex;
    margin: 0;
    text-align: center;
}

nav{
    width: 15%;
    height: 100vh;
    background: #eeee;
    border: 1px solid #dedede;
    box-shadow: 10px 0 10px rgba(0, 0,0, 25%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

nav .enlaces{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 40px 0; 
}

nav .enlaces a{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: #584871;
    transition: all 0.5s;
}

nav .enlaces a:hover{
    background: #ccc;

}

.informacion{
    width: 75%;
    justify-content: center;
    align-items: center;
    margin:0px auto;
}

.informacion #titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0)
}

.informacion img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-top: 50px;
}


.informacion section{	
	display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    margin: 10px;
    border-radius: 20px;
    background-color: #ccc;
    width: 100%;
}

.p-registro{
    padding: 15px;
	font-size: 30px;
	font-weight:bold;
	color: rgb(44, 43, 43);
}
.contenedor-card{
    display: flex;
    height: auto;
    width: 100%;
    height: auto;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{	
	width:50%;
	height: 50%;
    position:unset;
	margin:15px;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	border-radius: 2vh;
   
}
