.wrapper{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    position: relative;
    display: block;
    color: #673AB7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #673AB7 !important;
}


.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background: #673AB7 !important;
}