<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="Assets/css/estilo-contacto.css">
    <script src="https://kit.fontawesome.com/eb1dfef847.js" crossorigin="anonymous"></script>
</head>
<script src="Assets/js/menu.js"></script>
<body>
    <menu-component></menu-component>
    <div class="content-principal">
        <div class="card">
            <div class="content-card">
                <div class="img">
                    <img src="Assets/img/gabriel.jpeg" alt="">
                </div>
                <h4>Gabriel Ricardes</h4>
                <h6>Estudiante</h6>
                <p>bebito fiu fiu Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque accusamus reprehenderit tempora optio modi repellat quisquam esse commodi quo. Excepturi aliquam atque nihil quaerat? Quod perspiciatis quis totam iure minus!</p>
                <div class="links">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>                    
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content-card">
                <div class="img">
                    <img src="Assets/img/juana.jpg" alt="">
                </div>
                <h4>Juana Molina</h4>
                <h6>Estudiante</h6>
                <p>bebito fiu fiu Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque accusamus reprehenderit tempora optio modi repellat quisquam esse commodi quo. Excepturi aliquam atque nihil quaerat? Quod perspiciatis quis totam iure minus!</p>
                <div class="links">
                    <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/juana-lucia-molina-420443204/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/juanamolinalucia2001/"><i class="fa fa-github"></i></a>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>